<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NBA Player Games Played</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="column-header">NBA Player Games Played</div>
      <div>
        <input id="first-name-input" placeholder="First Name" />
      </div>
      <div>
        <input id="last-name-input" placeholder="Last Name" />
      </div>
      <div>
        <button id="submit-btn" type="submit">Submit</button>
      </div>
      <hr />

      <!-- Display Games Played Data -->
      <div class="games-played">
        <div class="column-header">Player Games Played Data</div>
        <div id="games-played-anchor"></div>
      </div>
    </div>
  </body>
  <script src="scripts/index.js"></script>
</html>
