body {
  padding: 2rem;
  font: 1rem Roboto, Arial, sans-serif;
}

body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body input,
#submit-btn {
  width: 25vw;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

#submit-btn {
  background-color: rgba(5, 28, 45, 1);
  color: white;
}

.games-played {
  font-size: 1.5rem;
}

.player-data {
  display: flex;
}

.label {
  font-weight: 300;
}
